<div *ngIf="location">
  <h2>{{location.name}} details!</h2>
  <div>
    <label>id: </label>{{location.id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="location.name" placeholder="name" />
  </div>
  <button (click)="save()">Save</button>
</div>
