<ul class="locations">
  <li *ngFor="let location of locations" (click)="onSelect(location)" [class.selected]="location === selectedLocation">
    <span class="location-element">
      <span class="badge">{{location.id}}</span> {{location.name}}
    </span>
    <button class="delete-button" (click)="deleteLocation(location, $event)">Delete</button>
  </li>
</ul>

<div class="error" *ngIf="error">{{error}}</div>
<button (click)="addLocation()">Add New Location</button>

<div *ngIf="addingLocation">
  Enter details:
  <location-detail (close)="close($event)"></location-detail>
</div>

<div *ngIf="selectedLocation">
  <h2>
    <location-detail [location]="selectedLocation" (close)="close($event)"></location-detail>
  </h2>
</div>

